<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-4">
    <a href="/"><img src="/images/android.jpg" "300" height="300"/></a>
  </div>
  <div class="col-lg-4">
    <a href="/"><img src="/images/apple.jpg"/></a>
  </div>
</div>
<br/>
<br/>
<br/>
