<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-3">
    <a href="/"><img src="/images/android.jpg" "300" height="300"/></a>
  </div>
  <div class="col-lg-2">
    <a href="/"><img src="/images/apple.jpg"/></a>
  </div>
  <div class="col-lg-2">
    <a href="/"><img src="/images/html5.png"/></a>
  </div>
</div>
<br/>
<br/>
<br/>
