
        <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">List of ATMs</h2>
                    <p>Users submit these locations from our app!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features">
      <div class="container">
        <% @list.each_with_index do |item, i| %>
        <div class="row">
          <div class="col-lg-3 text-center">
            <%= i+1 %>
          </div>
          <div class="col-lg-6 text-center">
            <div class="section-heading">
            <%= item.lat.to_f %>,
            <%= item.lon.to_f %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </section>
