<% if current_user %>
  <br/>
  <br/>
  <br/>
<% if current_user.under_13? %>
  <%= render partial: 'under13' %>
<% elsif current_user.under_18? %>
  teenagers!
<% else %>
  <%= render partial: 'over18' %>
<% else %>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-5" style="text-align: center;">
<p style="font-size: 24px;">
Are you a kid age 4 through 12?
</p>
<p style="font-size: 18px;">
Finally a bank for you! With a real ATM Card that works at any KidBank branch.
Ask your parents if it's okay for you to open a KidBank account today!
</p>

  <br/>
  <br/>
<p style="font-size: 18px;">
Already have an account? <a class="btn btn-danger" href="/sessions/new">Login here</a>
</p>
  </div>
  <div class="col-lg-2" style="text-align: center;">
  </div>
  <div class="col-lg-2" style="text-align: center;">
  </div>
</div>
<br/>
<br/>
<br/>

  <br/>
  <br/>
  <br/>
  <br/>
<% end %>
