<% if current_user %>
  <br/>
  <br/>
  <br/>
  <% if current_user.under_13? %>
    <%= render partial: 'under13' %>
  <% elsif current_user.under_18? %>
    teenagers!
  <% else %>
    <%= render partial: 'over18' %>
  <% end %>
<% else %>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-5" style="text-align: center;">
    <img src="/images/atmv.png"/>
<p style="font-size: 24px;">
Augmented Reality ATMs!
</p>
<p style="font-size: 18px;">
Your kids can see and interact with a virtual ATM everytime you goto a real ATM. 
</p>

  <br/>
  <br/>
  </div>
  <div class="col-lg-2" style="text-align: center;">
  </div>
  <div class="col-lg-2" style="text-align: center;">
  </div>
</div>
<br/>
<br/>
<br/>

  <br/>
  <br/>
  <br/>
  <br/>
<% end %>
