<% if current_user %>


<h1>Welcome Back</h1>

<% if current_user.under_13? %>
  <table class="table">
  <% current_user.accounts.each do |a| %>
    <tr>
      <td> <%= link_to a.flavor, account_activities_path(a) %></td>
      <td> <%= link_to number_to_currency(a.balance, :unit => "ϟ"), account_activities_path(a) %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% else %>
<h1>Welcome Kids!</h1>

<h2>Welcome GrownUps!</h2>

<p>
KidBank is a new bank.
</p>

<p>
Are you a kid age 4 through 12? Sign up here.
</p>
<p>
Are you a kid age 13 through 17? Sign up here.
</p>
<p>
Are you a grownup 18 through &infin; Sign up here.
</p>
<p>
Already have an account? <a href="/sessions/new">Login here</a>.
</p>
<% end %>
