<div class="about">
<div class="row" style="padding: 30px 0 0 0;">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-6" style="text-align: left;">
<p style="font-size: 18px;">
KidBank was founded on Feb 1, 2017 for several reasons:
<br/>
<br/>
<ol>
  <li>for <a href="https://higher.team">higher.team</a> students to really dig their teeth into a real <code>startup</code> startup.</li>
  <li>To give parents a better way to educate their kids about how to save, avoid debt and be good bank customers. Or bad bank customers depending how you think about it, if they learn to avoid fees, pay bills on time they will make less money for the bank.</li>
  <li>To show the banking industry there is an un-tapped market of kids age 4-12 that are not currently any bank's customer. And that these kids eventually age and become adults and might as well stick with the same bank they had as a kid.</li>
  <li>To see if this model of <a href="https://github.com/higherdotteam/kidbank">open source code</a> and <a href="https://higher.team/students/">students</a> helping to build a startup will be the new norm in code schools.</li>
</ol>
<br/>
<br/>
</p>
<p style="font-size: 18px;">
</p>
  </div>
</div>
<div class="row" style="padding: 30px 0 0 0;">
  <div class="col-lg-2" style="font-weight: bold; font-size: 16px;">
    Founders:
  </div>
  <div class="col-lg-6" style="text-align: center;">
    <p style="font-size: 14px;">
    Andrew Arrow in 1989
    <br/>
    <br/>
    <img style="border: 1px solid #CECECE;" src="/images/aa_1988.jpg"/>
    <br/>
    <br/>
    Andrew grew up as a kid in Wexford, PA. He went to <a href="https://en.wikipedia.org/wiki/Ingomar_Middle_School">Ingomar Middle School</a> and then <a href="http://www.northallegheny.org/nash">North Allegheny</a> High School. After getting a Computer Science degree from <a href="http://pitt.edu">The University of Pittsburgh</a> he moved to Los Angeles. Then he worked for <a href="https://techcrunch.com/2012/07/19/microsoft-completes-its-1-2b-yammer-acquisition/">yammer</a> where he met some of the <a href="https://en.wikipedia.org/wiki/PayPal_Mafia">PayPal Mafia</a>. Now he teaches mysql, html, css, javascript, php, ruby, java, swift and git at <a href="https://higher.team">higher.team</a> code school.
    His father is <a href="https://www.amazon.com/Jay-M.-Shafritz/e/B001IGOJ16/ref=dp_byline_cont_book_1">Jay M. Shafritz</a> the famous author and professsor.

    </p>
    <p style="font-size: 18px;">
    </p>
  </div>
</div>
<div class="row" style="padding: 30px 0 0 0;">
  <div class="col-lg-2" style="font-weight: bold; font-size: 16px;">
  </div>
  <div class="col-lg-6" style="text-align: center;">
    <p style="font-size: 14px;">
    Christian Momdjian (right) with his older brother
    <br/>
    <br/>
    <img style="border: 1px solid #CECECE; width: 300px; height: 200px;" src="/images/chris_m.jpg" alt="your name here"/>
    <br/>
    <br/>
    Christian was born and raised in Glendale California his entire life. He attended Mark Keppel elementary until around 5th grade when he
	decided to transfer to R.D. White elementary, which was closer to his home. He then went on to attend Glendale High School until his Junior Year where
	he switched to Home Schooling. He is currently studying Web Development at <a href="http://www.glendale.edu" title="Glendale Community College">
	Glendale Community College</a> and interning as a Full-Stack Web Developer at <a href="http://www.higher.team" title="Higher.team Code School">
	Higher.team</a> and has a passion for working on software and becoming a better developer as he progresses through the internship.
    </p>
    <p style="font-size: 18px;">
    </p>
  </div>
</div>
<div class="row" style="padding: 30px 0 0 0;">
  <div class="col-lg-2" style="font-weight: bold; font-size: 16px;">
  </div>
  <div class="col-lg-6" style="text-align: center;">
    <p style="font-size: 14px;">
    Your Name Here 
    <br/>
    <br/>
    <img style="border: 1px solid #CECECE; width: 300px; height: 200px;" src="/images/your_photo_here.jpg" alt="your name here"/>
    <br/>
    <br/>
    Your bio here. You can work on a project like this too if you <a href="https://higher.team/apply">apply to higher.team</a>.
    </p>
    <p style="font-size: 18px;">
    </p>
  </div>
</div>
</div>
