    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">About KidBank</h2>
                    <p>Our app is available on any mobile device! Download now to get started!</p>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src="/images/newage/google-play-badge.svg" alt=""></a>
                        <a class="badge-link" href="#"><img src="/images/newage/app-store-badge.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-heading">
              <h2>KidBank was founded on Feb 1, 2017</h2>
              <br/>
              <p class="text-muted">for <a href="https://higher.team">higher.team</a> students to really dig their teeth into a real <code>startup</code> startup.</p>
              <br/>
              <br/>
              <p class="text-muted">
              To give parents a better way to educate their kids about how to save, avoid debt and be good bank customers. Or bad bank customers depending how you think about it, if they learn to avoid fees, pay bills on time they will make less money for the bank.
              </p>
              <br/>
              <br/>
              <p class="text-muted">
              To show the banking industry there is an un-tapped market of kids age 4-12 that are not currently any bank's customer. And that these kids eventually age and become adults and might as well stick with the same bank they had as a kid.
              </p>
              <br/>
              <br/>
              <p class="text-muted">
              To see if this model of <a href="https://github.com/higherdotteam/kidbank">open source code</a> and <a href="https://higher.team/students/">students</a> helping to build a startup will be the new norm in code schools.
              </p>
              <hr>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 text-center">
          </div>
          <div class="col-lg-6 text-center">
            <div class="section-heading">
              <h2>Founders</h2>
    Andrew Arrow in 1989
    <br/>
    <br/>
    <img style="border: 1px solid #CECECE;" src="/images/aa_1988.jpg"/>
    <br/>
    <br/>
    <p>
    Andrew grew up as a kid in Wexford, PA. He went to <a href="https://en.wikipedia.org/wiki/Ingomar_Middle_School">Ingomar Middle School</a> and then <a href="http://www.northallegheny.org/nash">North Allegheny</a> High School. After getting a Computer Science degree from <a href="http://pitt.edu">The University of Pittsburgh</a> he moved to Los Angeles. Then he worked for <a href="https://techcrunch.com/2012/07/19/microsoft-completes-its-1-2b-yammer-acquisition/">yammer</a> where he met some of the <a href="https://en.wikipedia.org/wiki/PayPal_Mafia">PayPal Mafia</a>. Now he teaches mysql, html, css, javascript, php, ruby, java, swift and git at <a href="https://higher.team">higher.team</a> code school.
    His father is <a href="https://www.amazon.com/Jay-M.-Shafritz/e/B001IGOJ16/ref=dp_byline_cont_book_1">Jay M. Shafritz</a> the famous author and professsor.
    </p>
            </div>
          </div>
        </div>
      </div>
    </section>
